
body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 2000px;
    background-image:url("unlocked\ land\ tile.png");
}
html{
    overflow-x: hidden;
    margin: 0;
}
.sword{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 99;
    background-image: url("sword.png");
    background-position:60%;
    background-size: 200px;
    background-color: transparent;
    border: none;
    transition:50ms;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}
.sword:hover{
    cursor: pointer;
    height: 200px;
}
.sword-wrapper{
    position: relative;
    height: 150px;
}

.clicked-particle{
    position: absolute;
}



.shop{
    position: relative;
    width: 100vw;
    height:max-content;
    position: relative;
    left: -3vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-button{
    height: 80px;
    width: 160px;
    border: solid 2px rgb(140, 140, 140);
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    transition: 50ms;
    
}
.shop-button:hover{
    cursor: pointer;
}
.shop-button:hover > .shop-button-hover-text{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.shop-button:active{
    background-color: white;
}
.shop-button-hover-text{
    font-size: 15px;
    display: none;
    text-align: left;
}

.can-purchase{
    border: solid 2px black;
}

.servant-wrapper{
    width: 200px;
    left: 50%;
    transform:translate(-50%,0);
    position: absolute;
    height: 200px;
    top: 700px;
}
.servant img{
    height: 200px;
}



.servant button{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.servant button:hover{
    cursor: pointer;
}

.progress-bar{
    background-color: rgba(150, 150, 150, 0.347);
    width: 20px;
    height: 35px;
    position: absolute;
    top: -30px;
    text-align: center;
    font-size: 25px;
}
.readyServant {
    background-color: rgba(255, 255, 0, 1);
}

.destroyed-button{
    width: 150px;
    height: 50px;
    left: 25px;
    top: 50%;
    position: absolute;
    background-color: red;
    border: none;
    border-radius: 10px;
    z-index: 1;

}
.destroyed-button:hover{
    background-color: rgb(132, 0, 0);
    cursor: pointer;
}

.enemy-wrapper{
    top: 0;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 101;
    width: max-content;
    height: 80px;
    width: max-content;
}
.enemy{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("enemy.png");
    border: none;
    background-color: transparent;
    bottom: 0;
}
.enemy:hover{
    cursor: pointer;
}
.enemy-cost{
    position: absolute;
    width: max-content;
    top: 0px;
    font-size: 15px;
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;  
}

.game-wrapper{
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(grass.png);
    background-attachment:scroll;
    height: 900px;
    position: relative;
    
}

.game-over-text{
    position: absolute;
    font-size: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 99999;
}

.mud-obstacle{
    height: 100px;
    width: 100vw;
    background-image: url(mud.png);
    background-size: contain;
    
    position: absolute;
    z-index: 1;
    top: 300px;
}



.treasure{
    background-image: url(treasure.png);

    height: 50px;
    width: 100vw;
    bottom: 0px;
    position: absolute;
    padding-bottom: 20px;
}
.treasureText{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.Information{
    position:absolute;
    top: 650px;
    left: 3vw;
    margin: 2vw;
    padding: 1vw;
    height: max-content;
    width: 300px;
}
    
.Information h1{
    text-align: left;
    font-size: x-large;
    position: relative;
    z-index: 1;
    top: 30px;
    left: 30px;
}

.point-display{
    text-align: center;
    font-size: 100px;
    position: relative;
    top: -10vh;
}

.Information img{
    position: absolute;
    width: 350px;
    top: 0px;
}

.laser{
    position: absolute;
    top: 275px;
    height: 40px;
    width: 50px;
    background-image: url(laser.png);
    background-size: contain;
    border: none;
    z-index: 102;
}
.laser :hover{
    cursor: pointer;
}
.laserDamage{
    position: absolute;
    height: 20px;
    width: 100vw;
    background-image: url(laserbeam.png);
    background-size: contain;
    background-repeat: repeat;
    top: 10px;
    left: 50px;
    z-index: 101;
    border-radius: 20px;
}
.laser-progressBar{
    position: absolute;
    height: 40px;
    width: 0px;
    top: 0;
    left: 0;
    background-color: rgba(150, 150, 150, 0.347);
}

.activateLaser{
    top: 50%;
    transform: translate(0,-50%);
    left: 55px;
    position: relative;
}