
body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(173, 207, 173);

}
html{
    overflow-x: hidden;
    margin: 0;
}
.sword{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 10000;
    background-image: url("sword.png");
    background-position:60%;
    background-size: 400px;
    background-color: transparent;
    border: none;
    transition:50ms;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.sword:hover{
    cursor: pointer;
    height: 400px;
}
.sword-wrapper{
    position: relative;
    height: 400px;
}

.clicked-particle{
    position: absolute;
}

.point-display{
    text-align: center;
    font-size: 100px;
    position: relative;
    top: -10vh;
}

.shop{
    position: relative;
    width: 100vw;
    height:max-content;
    position: relative;
    left: -3vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-button{
    height: 80px;
    width: 160px;
    border: solid 2px rgb(140, 140, 140);
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    transition: 50ms;
    
}
.shop-button:hover{
    cursor: pointer;
}
.shop-button:hover > .shop-button-hover-text{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.shop-button:active{
    background-color: white;
}
.shop-button-hover-text{
    font-size: 15px;
    display: none;
    text-align: left;
}

.can-purchase{
    border: solid 2px black;
}

.servant-wrapper{
    width: 100vw;
    left: 3vw;
    position: relative;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.servant img{
    height: 100px;
}

.servant button{
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.servant button:hover{
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.347);
}

.progress-bar{
    background-color: rgba(150, 150, 150, 0.347);
    width: 100px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 30px;
}
.readyServant {
    background-color: rgba(255, 255, 0, 0.413);
}

.enemy-wrapper{
    top: 0;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 100;
    width: max-content;
    height: 80px;
    width: max-content;
}
.enemy{
    position: absolute;
    width: 50px;
    height: 100px;
    background-image: url("balloon.png");
    border: none;
    background-color: transparent;
    bottom: 0;
}
.enemy:hover{
    cursor: pointer;
}
.enemy-cost{
    position: absolute;
    width: max-content;
    top: -50px;
    font-size: 15px;
}

.game-wrapper{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(173, 207, 173);
    height: 1000px;
    position: relative;
}

.game-over-text{
    position: absolute;
    font-size: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mud-obstacle{
    height: 100px;
    width: 100vw;
    background-color: brown;
    position: absolute;
    z-index: 1;
    top: 300px;
}



.treasure{
    background-color: yellow;
    height: 50px;
    width: 100vw;
    bottom: 0px;
    position: absolute;
}
.timer{
    position: relative;
}
.timer h1{
    text-align: center;
}